langchain-groq
langchain
langchain_community
langchain-openai
langchain_experimental
langsmith
chainlit
nbconvert
python-dotenv
numexpr
wikipedia
openai
easyocr
black
camel-converter
fastapi
fastapi-mail
ipython
opencv-python
pip-chill
psutil
pylint
pymongo==3.11.3
python-multipart
pyyaml
scipy
seaborn
tensorboard
thop
uvicorn
pydantic==2.4.2
pydantic_core==2.10.1
pydantic-settings==2.1.0
Sympy
deep-translator
literalai